{% extends 'base.html' %}

{% block content %} 

  <h1 class="text-align-content-lg-center">Create a blog<h1>
  <div class="container">
    <form action="/create/" method='post'>
      {% csrf_token %}
      <div class="mb-3">
        <label for='title' class="form-label">Blog title:</label>
        <input type="title" class="form-control" id="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="7"></textarea>
      </div>
      <button class="">Save</button>
      <button>Submit</button>
    </form>

  </div> 
{% endblock %}