{% extends 'base.html' %}  

{% block content %}
  <div class="container">
    {% comment %} POST LIST IS A VIEW IN VIEW.PY {% endcomment %}
    {% for post in post_list %}
      <div class="card m-3 p-3">
        <div class="card-body">
          <h2 class="card-title">
            {{post.title}}
          </h2>  
          <p class="card-text">
            {{post.content | slice:"200"}}
          </p>
          <p class="card-text">
            Author: {{post.author | title}}
          </p>
          <a class="btn btn-primary  --bs-info-bg-subtle" href="{% url 'blog_view' post.slug %}">Read more</a>
        
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}