<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    {% comment %} POST LIST IS A VIEW IN VIEW.PY {% endcomment %}

    {% for post in post_list %}
      <a href="{% url 'blog_view' post.slug %}"><h2>{{post.title}}</h2></a>
      <p>{{post.author}}</p>
    {% endfor %}
  </body>
</html>